.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  min-height: 50vh;
  background-color: rgb(8, 0, 12)
}

.constructionnotice {
  padding-top: 10%;
  font-size: 100px;
  color:orangered;
}

.contentContainer {
  width: 100%; /* Adjust the width to control the content size */
  padding-top: 10%;
  margin-left: 20%;
}

.intro {
  font-size: 100px;
}

.introdesc {
  padding-top: 20px;
  margin-right: 76%;
  line-height: 22px;
}

.projects {
  font-size: 80px;
  padding-left: 9%;
}

.projectdesc {
  padding-top: 10px;
}

.projectlist {
  padding-left: 9%;
}

.timespan {
  justify-content: right;
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}


.gridcontainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  max-width: 1200px;
  width: 100%;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: center; 
  align-items: center;
}

.griditem {
  padding: 10px;
  color: white;
  text-align: center;
}

.navicon {
  fill: white;
  vertical-align: middle;
  padding-bottom: 3px;
  padding-left: 2px;
}


.logo {
  position: relative;
}
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
